<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="styleSheet" href = "/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>
        <img class="portrait" src="/img/weather1.jpg">
        <form>
           Name : <input placeholder="Name" id = "name"><br>
           Email : <input placeholder="Email" id = "email"><br>
           Password :  <input placeholder="Password" id = "password"><br>
            <button>Submit</button>
        </form>
        <p id= "message-1"></p>
        <p id= "message-2"></p>
        <p id= "message-3"></p>
    </div>
    {{>footer}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src = "/js/app.js"></script>
    // https://bootswatch.com/4/journal/bootstrap.min.css



</body>
</html>