@keyframes color-key-frame {
    from {
      color: black;
    }
    to {
      color: yellow
    }
  }
  
  .color-animation {
    animation-name: color-key-frame;
    animation-duration: 1s;
  }

  table { width: 30%; }
	table, th, td { border: solid 1px #DDD;
		border-collapse: collapse; padding: 2px 3px; text-align: center;
	}